{% extends "base.html" %}

{% block content %}
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Invoices And Payments</h2>

            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a href="{% url 'home' %}">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li><span>Invoices And Payments</span></li>
                    <li><span>List of Receipts</span></li>
                </ol>

                <a class="sidebar-right-toggle"><i class=""></i></a>
            </div>
        </header>

        <!-- start: page -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel panel-primary">
                    <header class="panel-heading">
                        <h2 class="panel-title">List Of Receipts</h2>
                    </header>

                    <div class="panel-body">
                        {% if receipt_list %}
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped table-condensed mb-none list-table">
                                <thead>
                                    <tr>
                                        <th>Invoice Number</th>
                                        <th>Payment</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for receipt in receipt_list %}
                                        <tr>
                                            <td>{{ receipt.invoice }}</td>
                                            <td>{{ receipt.payment }}</td>
                                            <td>
                                                <a href="{% url 'invoices:receipt_detail' receipt.id %}">
                                                    <i class="fa fa-list"></i>
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                            <p>No receitps are available.</p>
                        {% endif %}
                    </div>
                </section>
            </div>
        </section>
        <!-- end: page -->
    </section>
{% endblock content %}