{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Order Management</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="{% url 'home' %}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Order Management</span></li>
                <li><span>Inward Order Details</span></li>
            </ol>

            <a class="sidebar-right-toggle"><i class=""></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <div class="col-lg-12">

            <section class="panel panel-primary">
                <header class="panel-heading">
                    <h2 class="panel-title">Inward Order Details</h2>
                </header>

                <div class="panel-body">
                    <div class="form-group">
                        <label for="lot-number">Lot Number: </label>
                        <output type="text" class="form-control" id="lot-number">{{ inwardorder.lot_number }}</output>
                    </div>

                    <div class="form-group">
                        <label for="customer">Customer: </label>
                        <output type="text" class="form-control" id="customer">{{ inwardorder.customer }}</output>
                    </div>

                    <div class="form-group">
                        <label for="in-date">In Date: </label>
                        <output type="text" class="form-control" id="in-date">{{ inwardorder.date }}</output>
                    </div>

                    <div class="form-group">
                        <label for="chamber">Chamber: </label>
                        <output type="text" class="form-control" id="chamber">{{ inwardorder.chamber }}</output>
                    </div>

                    <div class="form-group">
                        <label for="status">Status: </label>
                        <output type="text" class="form-control" id="status">{{ inwardorder.status }}</output>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <section class="panel panel-featured panel-featured-primary">
                <header class="panel-heading">
                    <h2 class="panel-title">Order Line Items</h2>
                </header>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-condensed mb-none">
                            <thead>
                                <th>Product</th>
                                <th>Container</th>
                                <th>Qunatity In</th>
                                <th>Qunatity Stock</th>
                            </thead>

                            <tbody>
                                {% for in_oli in inwardorder.inoli_set.all %}
                                    <tr>
                                        <td> {{ in_oli.product }} </td>
                                        <td> {{ in_oli.container_type }} </td>
                                        <td> {{ in_oli.quantity }} </td>
                                        <td> {{ in_oli.stock }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <footer>
                    <div class="pull-right">
                        <a class="mb-xs mt-xs mr-xs btn btn-default" href="{% url 'orders:in_index' %}"><i class="fa fa-home"></i> Back </a>

                        {% if request.user.is_authenticated and request.user.is_staff %}
                            <a class="mb-xs mt-xs mr-xs btn btn-default" href="{% url 'orders:receiving_challan_detail' inwardorder.id %}"><i class="fa fa-home"></i> Receiving Challan </a>
                            <a class="mb-xs mt-xs mr-xs btn btn-danger" href="{% url 'orders:in_delete' inwardorder.id %}"><i class="fa fa-trash-o"></i> Delete </a>
                            <a class="mb-xs mt-xs mr-xs btn btn-primary" href="{% url 'orders:in_update' inwardorder.id %}"><i class="fa fa-pencil"></i> Edit </a>
                        {% endif %}
                    </div>
                </footer>
            </section>
        </div>
    </div>
    <!-- end: page -->

</section>
{% endblock content %}