{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Order Management</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="{% url 'home' %}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Order Management</span></li>
                <li><span>Outward Order Details</span></li>
            </ol>

            <a class="sidebar-right-toggle"><i class=""></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <div class="col-lg-12">

            <section class="panel panel-primary">
                <header class="panel-heading">
                    <h2 class="panel-title">Outward Order Details</h2>
                </header>

                <div class="panel-body">
                    <div class="form-group">
                        <label for="customer">Customer: </label>
                        <output type="text" class="form-control" id="customer">{{ outwardorder.customer }}</output>
                    </div>

                    <div class="form-group">
                        <label for="out-date">Out Date: </label>
                        <output type="text" class="form-control" id="out-date">{{ outwardorder.date }}</output>
                    </div>

                    <div class="form-group">
                        <label for="inward-order">Inward Order: </label>
                        <output type="text" class="form-control" id="inward-order">{{ outwardorder.inward_order }}</output>
                    </div>

                    <div class="form-group">
                        <label for="status">Status: </label>
                        <output type="text" class="form-control" id="status">{{ outwardorder.status }}</output>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <section class="panel panel-featured panel-featured-primary">
                <header class="panel-heading">
                    <h2 class="panel-title">Order Line Items</h2>
                </header>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-condensed mb-none">
                            <thead>
                                <th>Product</th>
                                <th>Container type</th>
                                <th>Qunatity Out</th>
                                <th>Qunatity Stock</th>
                            </thead>

                            <tbody>
                                {% for out_oli in outwardorder.outoli_set.all %}
                                    <tr>
                                        <td> {{ out_oli.in_oli.product }} </td>
                                        <td> {{ out_oli.in_oli.container_type }} </td>
                                        <td> {{ out_oli.quantity }} </td>
                                        <td> {{ out_oli.in_stock }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <footer>
                    <div class="pull-right">
                        <a class="mb-xs mt-xs mr-xs btn btn-default" href="{% url 'orders:out_index' %}"><i class="fa fa-home"></i> Back </a>

                        {% comment %} {% if request.user.is_authenticated and request.user.is_staff %}
                            <a class="mb-xs mt-xs mr-xs btn btn-danger" href="{% url 'orders:out_delete' outwardorder.id %}"><i class="fa fa-trash-o"></i> Delete </a>
                            <a class="mb-xs mt-xs mr-xs btn btn-primary" href="{% url 'orders:out_update' outwardorder.id %}"><i class="fa fa-pencil"></i> Edit </a>
                        {% endif %} {% endcomment %}
                    </div>
                </footer>
            </section>
        </div>
    </div>
    <!-- end: page -->

</section>
{% endblock content %}