{% load static i18n %}

<!doctype html>
<html class="fixed">

<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Express Manage</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% include "base_header_includes.html" %}

    <!-- Page specific includes -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">

</head>

<body>
    <section class="body">
        {% include "base_header.html" %}

        <div class="inner-wrapper">
            {% if request.user.is_authenticated %}

                {% include "base_sidebar.html" %}

                {% block content %}
                    <section role="main" class="content-body">
                        <header class="page-header">
                            <h2>Content Page</h2>

                            <div class="right-wrapper pull-right">
                                <ol class="breadcrumbs">
                                    <li>
                                        <a href="{% url 'home' %}">
                                            <i class="fa fa-home"></i>
                                        </a>
                                    </li>
                                    <li><span>Content Page</span></li>
                                </ol>

                                <a class="sidebar-right-toggle"><i class=""></i></a>
                            </div>
                        </header>

                        <!-- start: page -->
                        <div class="row">
                            <div class="col-lg-12">
                                <section class="panel panel-primary">
                                    <header class="panel-heading">
                                        <h2 class="panel-title">Page heading</h2>
                                    </header>
                                    
                                    <div class="panel-body">
                                        <p>Your content here</p>
                                    </div>
                                </section>
                            </div>
                        </section>
                        <!-- end: page -->
                    </section>
                {% endblock content %}
            {% else %}
                <div class="owl-carousel" data-plugin-carousel data-plugin-options='{ "autoPlay": 3000, "items": 1, "itemsDesktop": [1199,4], "itemsDesktopSmall": [979,3], "itemsTablet": [768,2], "itemsMobile": [479,1] }'>
                    <div class="item spaced"><img class="img-thumbnail" src="{% static 'images/express-logo.png' %}" alt=""></div>
                    <div class="item spaced"><img class="img-thumbnail" src="{% static 'images/express-logo.png' %}" alt=""></div>
                    <div class="item spaced"><img class="img-thumbnail" src="{% static 'images/express-logo.png' %}" alt=""></div>
                </div>
            {% endif %}
        </div>
    </section>

        {% comment %} <footer>
            <div class="container pull-right" style="color: gray !important;">
                <span class="text-muted">
                    Built with <i class="fa fa-heart faa-pulse animated"></i> by <a href="https://github.com/abbas133">Fazle Abbas</a>
                </span>
            </div>
        </footer> {% endcomment %}

</body>

    {% include "base_footer_includes.html" %}

</html>