{% load static i18n %}


<!-- Vendor -->
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.browser.mobile.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "js/nanoscroller.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/magnific-popup.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.placeholder.js" %}"></script>

<script type="text/javascript" src="{% static "js/owl.carousel.js" %}"></script>

<!-- Theme Base, Components and Settings -->
<script type="text/javascript" src="{% static "js/theme.js" %}"></script>

<!-- Theme Custom -->
<script type="text/javascript" src="{% static "js/theme.custom.js" %}"></script>


<!-- Theme Initialization Files -->
<script type="text/javascript" src="{% static "js/theme.init.js" %}"></script>

<!-- Project specific and generic JS -->
<script type="text/javascript" src="{% static "js/expressmanage.js" %}"></script>

<!-- Modal js -->
<script type="text/javascript" src="{% static "js/modal-js.js" %}"></script>
